
<div class="container mt-2" id="form_image">
  <div class="row">
    <div class="col-md-7 offset-md-4 col-10 offset-2">
      <h2 class="post_form mt-3">Edit
      <%=link_to "削除",post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger mx-5" %>
      </h2>
      <%=render "layouts/error_messages", object: @post %>
      <%=form_with model: [:public, @post], url: post_path(@post), method: :patch  do |f| %>      
          <div class="field">
            <%= f.label :title %><br />
            <%= f.text_field :title, autofocus: true, placeholder: "映画名", class: "w-50" %>
          </div>
          <div class="field">
            <%= f.label :impression %><br />
            <%= f.text_area :impression, placeholder: "感想", class: "w-50" %>
          </div>
           <div class="field">
            <%= f.label :image %><br />
            <%= f.file_field :image, accept: "image/*", placeholder: "画像を選択してください", class: "w-50" %>
          </div>
           <div class="field">
            <%= f.label :genre_id %><br />
            <%= f.select :genre_id,options_from_collection_for_select(Genre.all, :id, :name), class: "w-50" %>
          </div>
          <div class="field">
            <%= f.label :vod_ids, "SelectVODs" %><br />
            <%= f.select :vod_ids,options_from_collection_for_select(Vod.all, :id, :name) %>
          </div>
          <div class="field">
            <%= f.label :vod_ids, "SelectVODs" %><br />
            <%= f.select :vod_ids, options_from_collection_for_select(Vod.all, :id, :name) %>
          </div>
          <% if @post.id.nil? %>
           <div class="field" id="star">
            <%= f.label :star %>
            <%= f.hidden_field :star %>
            <div id="post_raty"></div>
           </div>
              <%=render "public/posts/star_review_new", post: @post %> 
          <% else %>
            <div class="field">
             <%=render "public/posts/star_review", post: @post %>
            </div> 
          <% end %>
          <div class="actions">
            <%= f.submit "更新", class: "btn btn-outline-success mt-4" %>
          </div>
      <% end %>    
    </div>
  </div>
</div>     
      