<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
    </div>  
    <div class="col-md-9 col-12">
       <% @posts.each do |post| %>
        <div class="content d-flex mb-3">
         <div class="content_img"> 
          <%=image_tag post.get_image(100,100), class: "mx-md-5 mx-2 index_img" %>
         </div> 
         <div class="content_item">
          <h5><%=link_to post.title, post_path(post) %></h5>
          <p class="impression"><%=post.impression %></p>
          <p><%=image_tag post.user.get_profile_image(30,30), class: "profile_img" %>
             <%=link_to post.user.name, user_path(post.user) %>
          </p>
         </div>  
         <div class="information mx-md-4">
          <p>⭐️⭐️⭐️</p>
          <p><i class="fa-solid fa-comment" id="icon"></i>
             <span class="count"><%=post.comments.count %></span>
          </p>
         </div> 
       </div>
      <% end %>
    </div>
  </div>
</div>      
