  <div class="container">
    <div class="row">
      <div class="col-12 search_tag_sm ml-4">
       <h5>タグ・配信サイト検索は<i class="fa-solid fa-magnifying-glass"></i>へ</h5>
      </div>
    </div>
    <div class="row">  
      <div class="col-md-10 mt-3">
       <div class="row ml-md-5 ml-3">
        <%=link_to "新着順",posts_path(latest: true), class: "btn btn-outline-secondary btn-sm mr-1" %>
        <%=link_to "古い順",posts_path(old: true), class: "btn btn-outline-secondary btn-sm mr-1" %>
        <%=link_to "評価順",posts_path(star_count: true), class: "btn btn-outline-secondary btn-sm mr-1" %>
        <%=link_to "ジャンル順",posts_path(genre: true), class: "btn btn-outline-secondary btn-sm" %>
       </div> 
       <div class="row mt-4">
        <% @posts.each do |post| %>
         <div class="content_img col-md-3 col-4"> 
          <%=image_tag post.get_image(100,100), class: "mx-md-5 mx-2 index_img" %>
         </div> 
         <div class="content_item col-md-4 col-8">
          <h5><%=link_to post.title, post_path(post) %>
              <i class="fa-solid fa-comment" id="icon"></i>
              <span class="count"><%=post.comments.count %></span>
          </h5>
          <p class="impression"><%=post.impression %></p>
          <p><%=image_tag post.user.get_profile_image(30,30), class: "profile_img" %>
             <%=link_to post.user.name, user_path(post.user) %>
          </p>
         </div>
         <div class="information col-md-3 col-12 mb-3"> 
           <%=render "public/posts/star_review", post: post %>
         </div> 
        <% end %>
       </div>
      </div>
    </div> 
    <%=paginate @posts %>
  </div>      
