<div class="container mt-5">
  <div class="row">
    <%=render "public/posts/tag_list", tags: @tags, vods: @vods %>
      <div class="col-md-10">
       <div class="row">
        <% @posts.each do |post| %>
         <div class="content_img col-md-3 col-4"> 
          <%=image_tag post.get_image(100,100), class: "mx-md-5 mx-2 index_img" %>
         </div> 
         <div class="content_item col-md-4 col-8">
          <h5><%=link_to post.title, post_path(post) %>
              <i class="fa-solid fa-comment" id="icon"></i>
              <span class="count"><%=post.comments.count %></span>
          </h5>
          <p class="impression"><%=post.impression %></p>
          <p><%=image_tag post.user.get_profile_image(30,30), class: "profile_img" %>
             <%=link_to post.user.name, user_path(post.user) %>
          </p>
         </div>
         <div class="information col-md-3 col-12 "> 
           <%=render "public/posts/star_review", post: post %>
         </div> 
        <% end %>
       </div>
      </div>
  </div> 
 <%=paginate @posts %>
</div>      
