 <table>
  <% post.comments.each do |comment| %>
   <tr>
    <td width="60"><%=image_tag comment.user.get_profile_image(50,50), class: "rounded-circle" %><br>
    </td>
    <td width="170">
     <%=link_to comment.user.name, user_path(comment.user) %><br>
     <%=comment.comment %>
    </td>
     <% if comment.user==current_user %>
      <td><%=link_to "削除",post_comment_path(post,comment), method: :delete, class: "btn btn-outline-danger", "data-confirm" =>"本当に削除しますか？", remote: true %></td>
     <% end %>
   </tr> 
  <% end %>
 </table> 
 <%=render "public/comments/form", post: post, comment: comment %>  
 
