<div class="container">
  <div class="row">
    <div class="col-11 col-md-12 offset-1 mt-4">
      <h3>検索結果 <%=@word %></h3>
       <% if @model=="false" %>
        <div class="d-flex flex-wrap mt-4">
         <% @posts.each do |post| %>
          <div class="mb-3 mr-md-5 mb-md-5 search-contents">
            <%=image_tag post.get_image(300,300), style: "width: 300px; height: 200px;" %></br></br>
            <%=link_to post.title, post_path(post) %></br>
            <%=post.impression %></br>
            <%=render "public/posts/star_review", post: post %>
            <%=link_to post.genre.name, search_genre_path(genre: post.genre.name) %></br>
            <%=display_vod_items_link(post.vod_items) %></br>
            <%=post.created_at.strftime("%Y/%m/%d") %>
          </div>  
         <% end %>
        </div>    
       <% else %>
        <% @users.each do |user| %>
         <div class="d-flex mt-3"> 
          <%=image_tag user.get_profile_image(50,50), class: "rounded-circle" %>
          <p class="mx-4 mt-2"><%=link_to user.name,user_path(user) %></p>
         </div>
        <% end %>
       <% end %>
    </div>
  </div>
</div>