<div class="container mt-3">
 <%=render "admin/searches/search_form_tag_genre_vod" %>
 <div class="row">
  <div class="col-md-3 offset-md-1 col-10 offset-2">
    <div class="d-flex flex-wrap">
      <% @tags.each do |tag| %>
        <div class="mx-2 mb-2 border border-4" style="border-radius:40%; padding:10px;">
        <%=link_to tag.name, edit_admin_tag_path(tag), class: "tag_list_link" %>
        </div>  
      <% end %>
    </div> 
    <div>
      <%=render "layouts/error_messages", object: @tag %>
      <%=form_with model: [:admin, @tag] do |f| %>
        <%=f.text_field :name, placeholder: "タグ", class: "mt-4 w-75" %><br>
        <%=f.submit "登録", class: "btn btn-outline-success mt-2 mb-5" %>
      <% end %>  
    </div>
  </div>
  <div class="col-md-3 offset-md-0 col-10 offset-2 mb-5">
   <div class="d-flex flex-wrap">
    <% @genres.each do |genre| %>
      <div class="mx-2 mb-2 border border-4" style="border-radius:40%; padding:10px;">
      <%=link_to genre.name, edit_admin_genre_path(genre), id: "genre_edit_form", class: "tag_list_link" %>
      </div>
    <% end %>
   </div>  
    <div>
      <%=render "layouts/error_messages", object: @genre %>
      <%=form_with model: [:admin, @genre] do |f| %>
        <%=f.text_field :name, placeholder: "ジャンル", class: "mt-4 w-75" %><br>
        <%=f.submit "登録", class: "btn btn-outline-success mt-2 mb-5" %>
      <% end %>  
    </div>
  </div>
  <div class="col-md-3 offset-md-0 col-10 offset-2">
   <div class="d-flex flex-wrap">
    <% @vods.each do |vod| %>
      <div class="mx-2 mb-2 border border-4" style="border-radius:40%; padding:10px;">
      <%=link_to vod.name, edit_admin_vod_path(vod), class: "tag_list_link" %>
      </div>  
    <% end %>
   </div> 
    <div>
      <%=render "layouts/error_messages", object: @vod %>
      <%=form_with model: [:admin, @vod] do |f| %>
        <%=f.text_field :name, placeholder: "配信サイト", class: "mt-4 w-75" %><br>
        <%=f.submit "登録", class: "btn btn-outline-success mt-2" %>
      <% end %>  
    </div>
  </div>
 </div>
</div> 