  <% posts.each do |post| %>
   <div class="row">
   </div> 
   <div class="row mb-3">  
    <div class="content_img col-md-3 offset-md-1 col-4"> 
    <%=image_tag post.get_image(100,100), class: "mx-md-5 mx-2 index_img" %>
    </div> 
    <div class="content_item col-md-5 col-8">
    <h5><%=link_to post.title, admin_post_path(post) %>
        <i class="fa-solid fa-comment" id="icon"></i>
        <span class="count"><%=post.comments.count %></span>
    </h5>
    <p><%=post.impression %></p>
    <p><%=image_tag post.user.get_profile_image(30,30), class: "profile_img" %>
        <%=link_to post.user.name, admin_user_path(post.user) %>
    </p>
    </div>  
    <div class="information col-md-3 col-12">
     <%=render "admin/posts/star_review", post: post %>
    </div>
   </div> 
  <% end %>

<%=paginate posts %>