 <div class="container mt-5 ml-3">
   <div class="row">
      <ul class="tab-list list-unstyled mt-2 ml-2 ml-md-5 mb-4">
         <li class="tab tab-active">公開<//li>
         <li class="tab">非公開</li>
      </ul>
   </div>   
   <div class="tabbox-contents">
     <div class="tabbox box-show">
       <%=link_to "評価順", admin_posts_path(star_count: true), class: "btn btn-outline-secondary btn-sm ml-md-5 mr-2 mb-3" %>
       <%=link_to "新着順", admin_posts_path(latest: true), class: "btn btn-outline-secondary btn-sm mr-2 mb-3" %>
       <%=link_to "古い順", admin_posts_path(old: true), class: "btn btn-outline-secondary btn-sm mb-3" %>  
       <%=render "admin/posts/public_private_post", posts: @posts %>
     </div> 
     <div class="tabbox">
       <%=render "admin/posts/public_private_post", posts: @draft %>
     </div>  
   </div>     
</div>
   