<div class="container mt-3">
  <div class="row">
    <div class="col-md-1">
    </div>  
    <div class="col-md-7">
     <div class="card">
      <%=image_tag @post.get_image(250,250), class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><%=@post.title %></h5>
        <p class="card-text"><%=@post.impression %></p>
        <p><i class="fa-solid fa-comment" id="icon"></i>
           <span class="count"><%=@post.comments.count %></span>
        </p>
        <%=render "admin/posts/star_review", post: @post %>
      </div> 
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=@post.genre.name %></li>
        <li class="list-group-item"><%=image_tag @post.user.get_profile_image(50,50) %>
        <%=link_to @post.user.name, admin_user_path(@post.user) %>
        </li>
        <li class="list-group-item"> 
          <%=display_vod_items_edit(@post.vod_items) %>
        </li>
        <li class="list-group-item">
          <%=display_tag_items_edit(@post.tag_items) %>
        </li>
        <li class="list-group-item">
          <% if @post.status==false %>
          <span style="color:red;"><i class="fa-solid fa-lock"></i>非公開</span>
          <% end %>
        </li>
      </ul> 
      <div class="card-body">
         <%=link_to "編集",edit_admin_post_path(@post), class: "btn btn-outline-success" %>
         <%=link_to "削除",admin_post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-outline-danger" %> 
      </div>  
     </div>
    </div>
    <div class="col-md-4 mt-5" id="comments">
     <%=render "admin/comments/comments", post: @post %>
    </div> 
  </div>
</div>    