<div class="container mt-3">
  <div class="row">
    <div class="col-md-7 offset-md-4 col-10 offset-2">
      <h2>Edit</h2>
      <%=render "layouts/error_messages", object: @user %>
       <%=form_with model: [:public, @user], url: user_path(@user), method: :patch do |f| %>
          <div class="field">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, placeholder: "映画太郎", class: "w-50" %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, placeholder: "eiga@sample.com", class: "w-50" %>
          </div>
           <div class="field">
            <%= f.label :image %><br />
            <%= f.file_field :image, accept: "image/*", class: "w-50" %>
          </div>
          <div class="actions">
            <%= f.submit "更新", class: "btn btn-outline-success mt-4" %>
          </div>
          <%=link_to "退会はこちらから",confirm_path, class: "btn btn-outline-danger mt-3 ms-5" %>
       <% end %>    
    </div>
  </div>
</div>     