<div class="container mt-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%=image_tag @user.get_profile_image(70,70),class: "rounded-circle" %>
      <span style="font-size:1.5em;"><%=@user.name%></span><br>
      <%=link_to "編集", edit_user_path(current_user), class: "btn btn-outline-success mt-2" %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <table class="table table-light table-striped table-hover">
        <% @posts.each do |post| %>
          <tr>
            <td><%=link_to post_path(post) do %>
                <%=image_tag post.get_image(100,100), class: "post_img" %>
                <% end %>
            </td>
            <td><%=post.title %><br>
                <%=post.impression %>
            </td>
          </tr>      
        <% end %>  
      </table> 
    </div>   
  </div>  
</div> 

