<div class="container mt-3">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <%=image_tag @user.get_profile_image(70,70),class: "rounded-circle" %>
      <span style="font-size:1.5em;"><%=@user.name%></span><br>
      <%=link_to "編集", edit_user_path(current_user), class: "btn btn-outline-success mt-2" %>
    </div>
  </div>
  <div class="row mt-4">
   <div class="col-md-11 offset-md-1 col-12">
    <div class="wrap">
     <ul class="tab-list list-unstyled mt-4">
      <li class="tab tab-active">公開</li>
      <li class="tab">非公開</li>
     </ul>
     <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%= render 'public/users/private_public_post', posts: @posts %>    
      </div>
      <div class="tabbox">
        <%= render 'public/users/private_public_post', posts: @draft %>
      </div>
     </div>  
    </div> 
   </div>
  </div>  
 </div>   


